<!DOCTYPE html>
<html ng-app="gameApp">
<head>
  <% include ../addons/scripts.ejs %>
    <% include ../addons/styles.ejs %>
    <title>איי אל</title>
<link rel="icon" href="public/icons/minicon.ico">
</head>
<!---->
<body>
<div ng-controller="gameCtrl" ng-keypress="keypress($event)">
    <div class="logo" ng-if="!onboard" ng-click="resetOnboard()">
        <img class="logo" src="icons/logo.gif">
    </div>
    <div class="onboarding" ng-class="{'onboard-hide' : !onboard, 'onboard-z' : !onboardz}" ng-click="removeOnBoard()">
        <img src="icons/logo_big.gif" id="logo"><p>אָיי-אל הוא ממשק ניסויי ללמידה על ישראל<br>
המאפשר חשיפה לתוכן משתנה על פי הקשרים שוניםם</p>
        <img src="icons/space.gif" id="space">
    </div>
    <div ng-repeat="category in categories" class="col-block">
        <div class="col-content">
            <img class="strip" src="{{currentStrips[category]['pic']}}">
            <div class="gradient"></div>
            <div class="strip-container">
                <img ng-if="!isLightOn(category)" class="bulb" src="icons/bulb_w.png" ng-init="refreshBulb()" style="opacity: 0.35;">
                <img ng-if="isLightOn(category)" id="bulb" class="bulb" ng-click="openConnection(category);" src="icons/balb.gif">
                <img ng-if="currentLock === category" class="lock" id="lock" ng-click="changeLock(category);" src="icons/lock.gif">
                <img ng-if="currentLock !== category" class="lock" ng-click="changeLock(category)" src="icons/lock_w.png" style="opacity: 0.35;">
                <span class="name">{{currentStrips[category].name}}</span>
            </div>
        </div>
        <div class="col-down" ng-class="{'hide-text' : fadeCategory(category)}"}">
            {{category}}
            <!--<span ng-if="!fadeCategory(category)"></span>-->
        </div>
                  <div class="col-overlay" ng-class="{'col-overlay-show' : fadeCategory(category)}">
            <div ng-if="content[category]['header']" class="hidden-header">
                {{content[category]['header']}}
            </div>
                                    <div ng-if="content[category]['href']" class="hidden-href">
                <a href="{{content[category]['href']}}" target="_new">{{content[category]['date']}}</a>
            </div>
            <div ng-if="content[category]['content']" class="hidden-content">
                <span>{{content[category]['content']}}</span>
            </div>
            <div ng-if="content[category]['video']" class="hidden-video">
                <iframe style="height: 20vw;width: 20vw;"
                        src="{{content[category]['video']}}" frameborder="0" allowfullscreen>
                </iframe>
            </div>
            <div ng-if="content[category]['picture']" class="hidden-picture">
                <img src="{{content[category]['picture']}}">
            </div>
            <div ng-if="content[category]['sub-title-2']" class="hidden-sub-title-2">
                <span>{{content[category]['sub-title-2']}}</span>
            </div>
            <div ng-if="content[category]['sub-title-1']" class="hidden-sub-title-1">
                <span>{{content[category]['sub-title-1']}}</span>
            </div>
            <div ng-if="content[category]['sub-title-3']" class="hidden-sub-title-3">
                <span>{{content[category]['sub-title-3']}}</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
