<!DOCTYPE html>
<html ng-app="gameApp">
<head>
  <% include ../addons/scripts.ejs %>
    <% include ../addons/styles.ejs %>
</head>
<!---->
<body>
<div ng-controller="gameCtrl" ng-keypress="keypress($event)">
    <div ng-repeat="category in categories" class="col-block">
        <div class="col-content">
            <img class="strip" src="{{currentStrips[category]['pic']}}">
            <div class="strip-container">
                <img ng-if="!gotMatch(category)" class="bulb" src="icons/bulb.svg">
                <img ng-if="gotMatch(category)" class="bulb" src="icons/bulbyellow.svg">
                <img ng-if="currentLock === category" class="lock" ng-click="changeLock(category)" src="icons/lockyellow.svg">
                <img ng-if="currentLock !== category" class="lock" ng-click="changeLock(category)" src="icons/lock.svg">
                <span class="name">{{currentStrips[category].name}}</span>
            </div>
        </div>
        <div class="col-down">
            {{category}}
        </div>
    </div>
</div>
</body>
</html>
