@font-face {
	font-family: 'days';
	src: url("/fonts/Days-Regular.otf");
}
@font-face {
	font-family: 'days';
	src: url("/fonts/Days-Bold.otf");
	font-weight: bold;
}
@font-face {
	font-family: 'days';
	src: url("/fonts/Days-Nights.otf");
	font-style: italic;
}

body{
	font-family: 'days';
}

@font-face {
	font-family: 'days';
	src: url("//fonts/Days-NightsBold.otf");
	font-style: italic;
	font-weight: bold;
}

.col-block{
	width: 20%;
	height:100vh;
	display: inline-block;
}

.col-content{
	height:95vh;
	position: relative;
}

.col-down{
	text-align: center;
	height: 5vh;
	background: #2B2B2B;
	color: #FFFF00;
	font-family: days;
	font-style: italic;
	font-size: 17px;
	letter-spacing: 5px;
	padding: 10px;
}

.strip{
	display: block;
	height:100%;
	width: 100%;
}
.name{
	font-size: 30px;
	font-weight: bold;
	color: #FFFF00;
	letter-spacing: 1px;
}

.strip-container{
	width: 20vw;
	position: absolute;
	text-align: center;
	bottom: 20px;
}

.bulb, .lock{
	display: block;
	margin: auto;
	width: 40px;
	margin-bottom: 15px;
}

.i.lock{
	background: url('//icons/lock.svg');
	display: block;
	height:40px;
}

.locked{
	width: 250px;
}

.col-overlay{
	height: 95vh;
	width: 20vw;
	background: black;
	z-index: 3;
	position: absolute;
	top: 0;
	opacity: 0.85;
}

.hidden-content{
	color: white;
	text-align: right;
	font-size: 18px;
	direction: rtl;
	padding: 30px;
	padding-top: 50px;
	line-height: 1.25;
}

.hidden-header{
	color: white;
	direction: rtl;
	padding: 30px;
	font-size: 45px;
	letter-spacing: 1px;
	line-height: 51px;
	font-weight: bold;
}

.hidden-href{
	text-align: right;
	padding: 45px;
	color: white;
	padding-top: 0;
}
.hidden-href > a{
	color: #FFFF00;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 1px;
}
